body {
    background-color: lightgray;
}

.bossClass {
    width: 600px;
    height: 30px;
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

.characterClass {
    width: 700px;
    height: 500px;
    padding: 15px;
    text-align: center;
    border-color: 4px solid black;
    border-radius: 15px;
    background-color: lightgray;
}